<body>
    <div class="head">
        <div class="logo">
            <a href="#">Poco F5</a>
        </div>

            <nav class="navbar">
                <a href="#">Incio</a>
                <a href="#">Caracteristicas</a>
                <a href="#">Opiniones</a>
                <a href="#">Comprar</a>
                <a href="#">Notas</a>

            </nav>
    </div>

    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Desde el lanzamiento de la primera generación, un Pocophone F1 que sorprendió a todo el mundo, está claro que el POCO se ha convertido en uno de esos lanzamientos que buena parte de los usuarios esperan cada año.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
            <a href="#" class="btn">Saber mas</a>
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Especificaciones</h2>
        <p>El Snapdragon® 7+ Gen 2 se fabrica mediante un proceso de 4 nm de TSMC, con la misma estructura de CPU y GPU insignia que Snapdragon® 8+ Gen 1. Combina una gran resistencia con un bajo consumo de energía para lograr un mayor rendimiento con una potencia excepcional.</p>
        
        <div class="box-container">

            <div class="box">
                <i href="#" target="_blank" class="card-link"><img src="https://cdn-icons-png.flaticon.com/128/1086/1086685.png" style="height: 35px;"></i>
                <h4>Procesador</h4>
                <p>Plataforma móvil Snapdragon® 7+ Gen 2
                    CPU: 1 Cortex-X2 de hasta 2,91 GHz, 3 A710 de hasta 2,49 GHz y 4 A510 de hasta 1,8 GHz
                </p>
            </div>
            <div class="box">
                <i href="#" target="_blank" class="card-link"><img src="https://cdn-icons-png.flaticon.com/128/900/900330.png" style="height: 45px;"></i>
                <h4>Almacenamiento y RAM</h4>
                <p>8 GB + 256 GB | 12 GB + 256 GB
                    LPDDR5 + UFS 3.1
                </p>
            </div>
            <div class="box">
                <i href="#" target="_blank" class="card-link"><img src="https://cdn-icons-png.flaticon.com/128/7513/7513553.png" style="height: 45px;"></i>
                <h4>Pantalla</h4>
                <p>AMOLED DotDisplay Flow FHD+ de 6,67"</p>
            </div>

        </div>

    </section>

    <section class="content about">

        <h2 class="title">Comprar Ahora</h2>
        <p>Puede adquirir este increible producto dentro de nuestros locales oficiales o distribuidoras autorizados a un fabuloso precio que no pdora imaginar.
        </p>

        <a href="#" class="btn">Saber Precio</a>

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Notas</h2>
            <p>* La apariencia del smartphone que se muestra en la página es solo de referencia. El color y el acabado pueden variar ligeramente en diferentes entornos. Las imágenes son solo de referencia. Las imágenes creativas de las características que aparecen en la página son solo ilustrativas y no representan la estructura real. Las imágenes son solo de referencia.La fuente de datos de la prueba de frecuencia de la CPU es el sitio web oficial de Qualcomm.
                Es necesario iniciar la ampliación dinámica del almacenamiento en los ajustes y seleccionar el almacenamiento añadido en función de la capacidad libre actual del smartphone; en la versión de 12 GB+256 GB se puede activar la opción de 19 GB.
                Algunos modos de disparo no son compatibles con OIS+EIS.
            </p>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>0962683822</p>
        <p>&copy; 2023 Elkin Alenxander Morocho Belduma. Todos los derechos reservados.</p>
    </section>
</body>